<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 uap5 desktop desktop4 desktop5 com rescap">
  <Identity Name="BondSealPages" Publisher="CN=BondSealPages-Development" Version="0.1.0.0" ProcessorArchitecture="x64" />
  <Properties><DisplayName>债券签署页合集</DisplayName><PublisherDisplayName>BondSealPages 内测</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo></Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" /></Dependencies>
  <Applications>
    <Application Id="BondSealDesktop" Executable="GUI\BondSealGUI.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="签署页合集" Description="快速生成债券签署页合集" BackgroundColor="#143B59" Square44x44Logo="Assets\Square44x44Logo.png" Square150x150Logo="Assets\Square150x150Logo.png" />
      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="GUI\BondSealGUI.exe" EntryPoint="Windows.FullTrustApplication"><uap3:AppExecutionAlias><desktop:ExecutionAlias Alias="bondseal-gui.exe" /></uap3:AppExecutionAlias></uap3:Extension>
        <com:Extension Category="windows.comServer"><com:ComServer><com:SurrogateServer AppId="A8E978B4-A9E5-4D50-B792-D42A9B7FE138" DisplayName="债券签署页合集资源管理器菜单"><com:Class Id="62C7EB66-A11D-4F91-934C-3DAA9A3EF821" Path="windows\BondSealContextMenu.dll" ThreadingModel="STA" /></com:SurrogateServer></com:ComServer></com:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus"><desktop4:FileExplorerContextMenus>
          <desktop5:ItemType Type=".doc"><desktop5:Verb Id="BondSealCollect" Clsid="62C7EB66-A11D-4F91-934C-3DAA9A3EF821" /></desktop5:ItemType>
          <desktop5:ItemType Type=".docx"><desktop5:Verb Id="BondSealCollect" Clsid="62C7EB66-A11D-4F91-934C-3DAA9A3EF821" /></desktop5:ItemType>
        </desktop4:FileExplorerContextMenus></desktop4:Extension>
      </Extensions>
    </Application>
    <Application Id="BondSealCli" Executable="CLI\BondSealCLI.exe" EntryPoint="Windows.FullTrustApplication" desktop4:SupportsMultipleInstances="true">
      <uap:VisualElements DisplayName="BondSeal 命令行" Description="债券签署页合集自动化入口" BackgroundColor="#143B59" Square44x44Logo="Assets\Square44x44Logo.png" Square150x150Logo="Assets\Square150x150Logo.png" />
      <Extensions><uap5:Extension Category="windows.appExecutionAlias" Executable="CLI\BondSealCLI.exe" EntryPoint="Windows.FullTrustApplication"><uap5:AppExecutionAlias desktop4:Subsystem="console"><uap5:ExecutionAlias Alias="bondseal.exe" /></uap5:AppExecutionAlias></uap5:Extension></Extensions>
    </Application>
  </Applications>
  <Capabilities><rescap:Capability Name="runFullTrust" /></Capabilities>
</Package>
